@media screen and (max-width: 600px) {
    .vw-s100 { width: 100vw; }
    .vw-s95 { width: 95vw; }
    .vw-s90 { width: 90vw; }
    .vw-s85 { width: 85vw; }
    .vw-s80 { width: 80vw; }
    .vw-s75 { width: 75vw; }
    .vw-s70 { width: 70vw; }
    .vw-s65 { width: 65vw; }
    .vw-s60 { width: 60vw; }
    .vw-s55 { width: 55vw; }
    .vw-s50 { width: 50vw; }
    .vw-s45 { width: 45vw; }
    .vw-s40 { width: 40vw; }
    .vw-s35 { width: 35vw; }
    .vw-s30 { width: 30vw; }
    .vw-s25 { width: 25vw; }
    .vw-s20 { width: 20vw; }
    .vw-s15 { width: 15vw; }
    .vw-s10 { width: 10vw; }
    .vw-s5 { width: 5vw; }
    .vh-s100 { height: 100vh; }
    .vh-s95 { height: 95vh; }
    .vh-s90 { height: 90vh; }
    .vh-s85 { height: 85vh; }
    .vh-s80 { height: 80vh; }
    .vh-s75 { height: 75vh; }
    .vh-s70 { height: 70vh; }
    .vh-s65 { height: 65vh; }
    .vh-s60 { height: 60vh; }
    .vh-s55 { height: 55vh; }
    .vh-s50 { height: 50vh; }
    .vh-s45 { height: 45vh; }
    .vh-s40 { height: 40vh; }
    .vh-s35 { height: 35vh; }
    .vh-s30 { height: 30vh; }
    .vh-s25 { height: 25vh; }
    .vh-s20 { height: 20vw; }
    .vh-s15 { height: 15vh; }
    .vh-s10 { height: 10vh; }
    .vh-s9 { height: 9vh; }
    .vh-s8 { height: 8vh; }
    .vh-s7 { height: 7vh; }
    .vh-s6 { height: 6vh; }
    .vh-s5 { height: 5vh; }
    .vh-min-s100 { min-height: 100vh; }
    .vh-min-s95 { min-height: 95vh; }
    .vh-min-s90 { min-height: 90vh; }
    .vh-min-s85 { min-height: 85vh; }
    .vh-min-s80 { min-height: 80vh; }
    .vh-min-s75 { min-height: 75vh; }
    .vh-min-s70 { min-height: 70vh; }
    .vh-min-s65 { min-height: 65vh; }
    .vh-min-s60 { min-height: 60vh; }
    .vh-min-s55 { min-height: 55vh; }
    .vh-min-s50 { min-height: 50vh; }
    .vh-min-s45 { min-height: 45vh; }
    .vh-min-s40 { min-height: 40vh; }
    .vh-min-s35 { min-height: 35vh; }
    .vh-min-s30 { min-height: 30vh; }
    .vh-min-s25 { min-height: 25vh; }
    .vh-min-s20 { min-height: 20vw; }
    .vh-min-s15 { min-height: 15vh; }
    .vh-min-s10 { min-height: 10vh; }
    .vh-min-s9 { min-height: 9vh; }
    .vh-min-s8 { min-height: 8vh; }
    .vh-min-s7 { min-height: 7vh; }
    .vh-min-s6 { min-height: 6vh; }
    .vh-min-s5 { min-height: 5vh; }
    .vh-min-s4 { min-height: 4vh; }
    .margin-top-s10 { margin-top: 10vh; }
    .margin-top-s9 { margin-top: 9vh; }
    .margin-top-s8 { margin-top: 8vh; }
    .margin-top-s7 { margin-top: 7vh; }    
    .margin-top-s6 { margin-top: 6vh; }    
    .margin-top-s5 { margin-top: 5vh; }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .vw-m100 { width: 100vw; }
    .vw-m95 { width: 95vw; }
    .vw-m90 { width: 90vw; }
    .vw-m85 { width: 85vw; }
    .vw-m80 { width: 80vw; }
    .vw-m75 { width: 75vw; }
    .vw-m70 { width: 70vw; }
    .vw-m65 { width: 65vw; }
    .vw-m60 { width: 60vw; }
    .vw-m55 { width: 55vw; }
    .vw-m50 { width: 50vw; }
    .vw-m45 { width: 45vw; }
    .vw-m40 { width: 40vw; }
    .vw-m35 { width: 35vw; }
    .vw-m30 { width: 30vw; }
    .vw-m25 { width: 25vw; }
    .vw-m20 { width: 20vw; }
    .vw-m15 { width: 15vw; }
    .vw-m10 { width: 10vw; }
    .vw-m5 { width: 5vw; }
    .vh-m100 { height: 100vh; }
    .vh-m95 { height: 95vh; }
    .vh-m90 { height: 90vh; }
    .vh-m85 { height: 85vh; }
    .vh-m80 { height: 80vh; }
    .vh-m75 { height: 75vh; }
    .vh-m70 { height: 70vh; }
    .vh-m65 { height: 65vh; }
    .vh-m60 { height: 60vh; }
    .vh-m55 { height: 55vh; }
    .vh-m50 { height: 50vh; }
    .vh-m45 { height: 45vh; }
    .vh-m40 { height: 40vh; }
    .vh-m35 { height: 35vh; }
    .vh-m30 { height: 30vh; }
    .vh-m25 { height: 25vh; }
    .vh-m20 { height: 20vw; }
    .vh-m15 { height: 15vh; }
    .vh-m10 { height: 10vh; }
    .vh-m9 { height: 9vh; }
    .vh-m8 { height: 8vh; }
    .vh-m7 { height: 7vh; }
    .vh-m6 { height: 6vh; }
    .vh-m5 { height: 5vh; }
    .vh-min-m100 { min-height: 100vh; }
    .vh-min-m95 { min-height: 95vh; }
    .vh-min-m90 { min-height: 90vh; }
    .vh-min-m85 { min-height: 85vh; }
    .vh-min-m80 { min-height: 80vh; }
    .vh-min-m75 { min-height: 75vh; }
    .vh-min-m70 { min-height: 70vh; }
    .vh-min-m65 { min-height: 65vh; }
    .vh-min-m60 { min-height: 60vh; }
    .vh-min-m55 { min-height: 55vh; }
    .vh-min-m50 { min-height: 50vh; }
    .vh-min-m45 { min-height: 45vh; }
    .vh-min-m40 { min-height: 40vh; }
    .vh-min-m35 { min-height: 35vh; }
    .vh-min-m30 { min-height: 30vh; }
    .vh-min-m25 { min-height: 25vh; }
    .vh-min-m20 { min-height: 20vw; }
    .vh-min-m15 { min-height: 15vh; }
    .vh-min-m10 { min-height: 10vh; }
    .vh-min-m9 { min-height: 9vh; }
    .vh-min-m8 { min-height: 8vh; }
    .vh-min-m7 { min-height: 7vh; }
    .vh-min-m6 { min-height: 6vh; }
    .vh-min-m5 { min-height: 5vh; }
    .vh-min-m4 { min-height: 4vh; }
    .margin-top-m10 { margin-top: 10vh; }
    .margin-top-m9 { margin-top: 9vh; }
    .margin-top-m8 { margin-top: 8vh; }
    .margin-top-m7 { margin-top: 7vh; }    
    .margin-top-m6 { margin-top: 6vh; }    
    .margin-top-m5 { margin-top: 5vh; }
}

@media screen and (min-width: 993px) {
    .vw-l100 { width: 100vw; }
    .vw-l95 { width: 95vw; }
    .vw-l90 { width: 90vw; }
    .vw-l85 { width: 85vw; }
    .vw-l80 { width: 80vw; }
    .vw-l75 { width: 75vw; }
    .vw-l70 { width: 70vw; }
    .vw-l65 { width: 65vw; }
    .vw-l60 { width: 60vw; }
    .vw-l55 { width: 55vw; }
    .vw-l50 { width: 50vw; }
    .vw-l45 { width: 45vw; }
    .vw-l40 { width: 40vw; }
    .vw-l35 { width: 35vw; }
    .vw-l30 { width: 30vw; }
    .vw-l25 { width: 25vw; }
    .vw-l20 { width: 20vw; }
    .vw-l15 { width: 15vw; }
    .vw-l10 { width: 10vw; }
    .vw-l5 { width: 5vw; }
    .vh-l100 { height: 100vh; }
    .vh-l95 { height: 95vh; }
    .vh-l90 { height: 90vh; }
    .vh-l85 { height: 85vh; }
    .vh-l80 { height: 80vh; }
    .vh-l75 { height: 75vh; }
    .vh-l70 { height: 70vh; }
    .vh-l65 { height: 65vh; }
    .vh-l60 { height: 60vh; }
    .vh-l55 { height: 55vh; }
    .vh-l50 { height: 50vh; }
    .vh-l45 { height: 45vh; }
    .vh-l40 { height: 40vh; }
    .vh-l35 { height: 35vh; }
    .vh-l30 { height: 30vh; }
    .vh-l25 { height: 25vh; }
    .vh-l20 { height: 20vw; }
    .vh-l15 { height: 15vh; }
    .vh-l10 { height: 10vh; }
    .vh-l9 { height: 9vh; }
    .vh-l8 { height: 8vh; }
    .vh-l7 { height: 7vh; }
    .vh-l6 { height: 6vh; }
    .vh-l5 { height: 5vh; }
    .vh-l4 { height: 4vh; }
    .vh-min-l100 { min-height: 100vh; }
    .vh-min-l95 { min-height: 95vh; }
    .vh-min-l90 { min-height: 90vh; }
    .vh-min-l85 { min-height: 85vh; }
    .vh-min-l80 { min-height: 80vh; }
    .vh-min-l75 { min-height: 75vh; }
    .vh-min-l70 { min-height: 70vh; }
    .vh-min-l65 { min-height: 65vh; }
    .vh-min-l60 { min-height: 60vh; }
    .vh-min-l55 { min-height: 55vh; }
    .vh-min-l50 { min-height: 50vh; }
    .vh-min-l45 { min-height: 45vh; }
    .vh-min-l40 { min-height: 40vh; }
    .vh-min-l35 { min-height: 35vh; }
    .vh-min-l30 { min-height: 30vh; }
    .vh-min-l25 { min-height: 25vh; }
    .vh-min-l20 { min-height: 20vw; }
    .vh-min-l15 { min-height: 15vh; }
    .vh-min-l10 { min-height: 10vh; }
    .vh-min-l9 { min-height: 9vh; }
    .vh-min-l8 { min-height: 8vh; }
    .vh-min-l7 { min-height: 7vh; }
    .vh-min-l6 { min-height: 6vh; }
    .vh-min-l5 { min-height: 5vh; }
    .margin-top-l10 { margin-top: 10vh; }
    .margin-top-l9 { margin-top: 9vh; }
    .margin-top-l8 { margin-top: 8vh; }
    .margin-top-l7 { margin-top: 7vh; }    
    .margin-top-l6 { margin-top: 6vh; }    
    .margin-top-l5 { margin-top: 5vh; }
}
